[{:itonami.blueprint/social-impact [:local-jobs :supply-chain-resilience], :itonami.blueprint/domain :services/trade-brokerage, :itonami.blueprint/required-technologies [:robotics :identity :forms :audit-ledger], :itonami.blueprint/isco-08 "3324", :itonami.blueprint/name "Independent Trade Brokerage Practice", :itonami.blueprint/governor :trade-brokerage-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3324", :itonami.blueprint/license "AGPL-3.0-or-later"}]